In [1]:
import pandas as pd

In [25]:
X_train = pd.read_csv('data/x_train.csv')

In [26]:
X_test = pd.read_csv('data/x_test.csv')

In [27]:
y_train = pd.read_csv('data/y_train.csv')

In [28]:
print(y_train)

      cust_id  gender
0           0       0
1           1       0
2           2       1
3           3       1
4           4       0
...       ...     ...
3495     3495       1
3496     3496       1
3497     3497       0
3498     3498       0
3499     3499       0

[3500 rows x 2 columns]

In [29]:
print(X_train)

      cust_id       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0           0   68282840  11264000  6860000.0      기타   강남점    19  3.894737
1           1    2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2           2    3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3           3   16077620   4935000        NaN      기타   광주점    18  2.444444
4           4   29050000  24000000        NaN      보석  본  점     2  1.500000
...       ...        ...       ...        ...     ...   ...   ...       ...
3495     3495    3175200   3042900        NaN      골프  본  점     1  2.000000
3496     3496   29628600   7200000  6049600.0    시티웨어  부산본점     8  1.625000
3497     3497      75000     75000        NaN    주방용품   창원점     1  1.000000
3498     3498    1875000   1000000        NaN     화장품  본  점     2  1.000000
3499     3499  263101550  34632000  5973000.0      기타  본  점    38  2.421053

        주말방문비율  구매주기
0     0.527027    17
1     0.000000     1
2     0.000000     1
3     0.318182    16
4     0.000000    85
...        ...   ...
3495  1.000000     0
3496  0.461538    40
3497  0.000000     0
3498  0.000000    39
3499  0.467391     8

[3500 rows x 10 columns]

In [30]:
# 말 줄임표로 확인이 어려운 데이터를 확인하는 방법
print(X_train.head().T)

                 0         1        2         3         4
cust_id          0         1        2         3         4
총구매액      68282840   2136000  3197000  16077620  29050000
최대구매액     11264000   2136000  1639000   4935000  24000000
환불금액     6860000.0  300000.0      NaN       NaN       NaN
주구매상품           기타       스포츠   남성 캐주얼        기타        보석
주구매지점          강남점       잠실점      관악점       광주점      본  점
내점일수            19         2        2        18         2
내점당구매건수   3.894737       1.5      2.0  2.444444       1.5
주말방문비율    0.527027       0.0      0.0  0.318182       0.0
구매주기            17         1        1        16        85

In [31]:
# 전체 칼럼을 출력하는 옵션 설정하기
pd.options.display.max_columns = None

In [32]:
print(X_train)

      cust_id       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0           0   68282840  11264000  6860000.0      기타   강남점    19  3.894737
1           1    2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2           2    3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3           3   16077620   4935000        NaN      기타   광주점    18  2.444444
4           4   29050000  24000000        NaN      보석  본  점     2  1.500000
...       ...        ...       ...        ...     ...   ...   ...       ...
3495     3495    3175200   3042900        NaN      골프  본  점     1  2.000000
3496     3496   29628600   7200000  6049600.0    시티웨어  부산본점     8  1.625000
3497     3497      75000     75000        NaN    주방용품   창원점     1  1.000000
3498     3498    1875000   1000000        NaN     화장품  본  점     2  1.000000
3499     3499  263101550  34632000  5973000.0      기타  본  점    38  2.421053

        주말방문비율  구매주기
0     0.527027    17
1     0.000000     1
2     0.000000     1
3     0.318182    16
4     0.000000    85
...        ...   ...
3495  1.000000     0
3496  0.461538    40
3497  0.000000     0
3498  0.000000    39
3499  0.467391     8

[3500 rows x 10 columns]

In [33]:
# 행렬 확인하기
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)

(3500, 10)
(2482, 10)
(3500, 2)

In [34]:
# 요약 정보 확인하기
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None

In [35]:
# 기초 통계량 확인하기
print(X_train.describe())
# 평균값 범위를 확인 하였을 때 데이터 스케일링이 필요하다고 생각함

           cust_id          총구매액         최대구매액          환불금액         내점일수  \
count  3500.000000  3.500000e+03  3.500000e+03  1.205000e+03  3500.000000
mean   1749.500000  9.191925e+07  1.966424e+07  2.407822e+07    19.253714
std    1010.507298  1.635065e+08  3.199235e+07  4.746453e+07    27.174942
min       0.000000 -5.242152e+07 -2.992000e+06  5.600000e+03     1.000000
25%     874.750000  4.747050e+06  2.875000e+06  2.259000e+06     2.000000
50%    1749.500000  2.822270e+07  9.837000e+06  7.392000e+06     8.000000
75%    2624.250000  1.065079e+08  2.296250e+07  2.412000e+07    25.000000
max    3499.000000  2.323180e+09  7.066290e+08  5.637530e+08   285.000000

           내점당구매건수       주말방문비율         구매주기
count  3500.000000  3500.000000  3500.000000
mean      2.834963     0.307246    20.958286
std       1.912368     0.289752    24.748682
min       1.000000     0.000000     0.000000
25%       1.666667     0.027291     4.000000
50%       2.333333     0.256410    13.000000
75%       3.375000     0.448980    28.000000
max      22.083333     1.000000   166.000000

In [37]:
# 불필요한 컬럼 삭제하기
X_test_cust_id = X_test['cust_id']

In [38]:
X_train = X_train.drop(columns='cust_id')
X_test = X_test.drop(columns='cust_id')
y_train = y_train.drop(columns='cust_id')

In [42]:
# 결측치 처리하기
print(X_train.isnull().sum())

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64